* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: #426696;
	font-weight: 600;
	font-size: 3rem;
	opacity: 0.8;
	display: flex;
}

h2, p {
	color: #658ec6;
	font-weight: 500;
	opacity: 0.8;
	display: flex;
}

h3 {
	color: #e41553;
	font-weight: 600;
	opacity: 0.8;
	display: flex;
	justify-content: center;
}

main {
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	background: linear-gradient(to right top, #ec3636, #d809d8);
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-cards{
    display:flex;
    flex-direction: row;
    justify-content:center;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
    

}
div .box{
    padding:20px;
}

.box{
    position:relative;
    perspective: 1000px;
    transition:all 0.3s ease-in-out 0.1s;
}

.box:hover{
    transform:scale(1.1);
    box-shadow:1px 2px 10px 5px solid #000 ;
}

.box .box-img
{
    transform:rotateY(0);
    transition:all 0.4s ease-in-out 0s;
}

.box:hover  .box-img
{
    transform: rotateY(-90deg);
}

.box .box-img img{
    width: 200px;
    height:350px;
    border:none;
    border-radius: 10px;
}

.fa-search:before {
	color: #426696;
}

.box .content
{
    color:rgb(231, 12, 12);
    background:rgba(0, 0, 0, 0.466);
    top:0;
    left:0;
    width:100%;
    height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    position:absolute;
    padding:90px 20px;
    box-sizing:border-box;
    text-align:center;
    border-radius: 10px;
    transform: rotateY(90deg);
    transition:all 0.5s ease-in-out 0s;
}

.box:hover .content
{
    transform: rotateY(0);
    
}

.box .content p{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
    margin:0 25px;
}

.box .button{
    
    background:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    padding:260px 50px;
    box-sizing:border-box;
    text-align:center;
    border-radius: 10px;
    align-items:center;
    transform: rotateY(90deg);
    transition:all 0.5s ease-in-out 0s;
}


.box:hover .button
{
    transform: rotateY(0);
}

.box .button li{
    list-style:none;
    padding:10px 0;

}
.box .button li a{
    color:white;
    text-decoration:none;
    border: 1px solid transparent;
    padding:5px 10px;
    background: linear-gradient(to bottom left, #ec3636, #d809d8);
    border-radius:50px;
}

.box .button li a:hover{
    background: linear-gradient(to bottom left, #b836ec, #d80971);
}

.box .button.dark li a {
    background: linear-gradient(to bottom left, #e70d68, #012f91);
}

.box .button.dark li a:hover{
    background: linear-gradient(to bottom left, #b836ec, #041368);
}

.user {
	padding-left: 20px;
	font-size: medium;
}

.glass {
	background: white;
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
	border-radius: 2rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
	display: flex;
	flex-direction: column;
}
/* heres my code- Sayantani Deb*/
::selection {
    background-color: pink;
  }
::-webkit-scrollbar {
        width: 10px;
        background-color: #d809d8;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #ec3636;
      }

.circle1, .circle2 {
	background: white;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
	height: 20rem;
	width: 20rem;
	position: fixed;
	border-radius: 50%;
}

.circle1 {
	top: 5%;
	right: 15%;
}

.circle2 {
	bottom: 5%;
	left: 10%;
}

.dashboard {
	flex: 1;
	width: 100%;
	height:50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.links {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	align-items: center;
	/* align-content: space-between; */
	justify-content: space-between;
}

.link {
	display: flex;
	align-items: center;
	margin: 1rem 0rem;
	justify-content: center;
	padding: 1rem;
}
.link img {
	height: 40%;
}

.link h2 {
	display: flex;
	font-size: medium;
	margin: -0.5rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	padding: 0.4rem 1.2rem;
}

.games {
	flex: 2;
}


.pro {
	margin: 3px;
	background: linear-gradient(to right top, #ec3636, #d809d8);
	border-radius: 1rem;
	height: 80px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;

}

.pro img {
	position: absolute;
	height: 90%;
	top: -10%;
	right: 10%;
}

.pro h2 {
	width: 60%;
	color: white;
	font-size: medium;
	font-weight: 600px;
	
	/*position: relative;*/
}

/* GAMES */

.status {
	margin-bottom: 3rem;
	
}
.status .inputText{
	background: linear-gradient(to right top, rgba(238, 45, 135, 0.705), rgb(255, 255, 255));
	width: 50%;
	border-radius: 2em;
	
	/*
	background-color: rgba(255, 255, 251, 0.6);
    background: rgba(255, 255, 251, 0.6);
	*/
}

.status input {
	background: inherit;
	
	
	border: none;
	width: 96%;
	padding: 0.5rem;
	border-radius: 2rem;
	outline:none;
}
.status i{
	float: right;
	margin-top: 5px;
	margin-right: 1px;
	cursor: pointer;
	position:absolute;
	
}
.games {
	margin: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.cards {
	display: flex;
	background: linear-gradient(to left top, rgba(255, 255, 255, 0.281), rgba(255, 255, 255, 0.288));
	border-radius: 1rem;
	margin: 2rem 0rem;
	padding: 2rem;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.096);
	justify-content: space-between;
	outline: none;
}

.card:hover{
	margin: 2rem 2rem;
	transition: 0.6s ease;
}

.progress {
	background: linear-gradient(to right top, #ec3636, #d809d8);
	width: 100%;
	height: 25%;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	display: flex;
}

.progress::after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgb(236, 236, 236);
	position: absolute;
	left: 60%;
	display: flex;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.percentage {
	font-weight: bold;
	background: linear-gradient(to right top, #ec3636, #d809d8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: flex;
}

button {
	margin: 4px 2px;
	width: fit-content;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	font-weight: 600;
	background: #dde1e7;
	border-radius: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #595959;
	padding-left: 2%;
	padding-right: 2%;
	box-shadow: 2px 2px 5px #e46bbf, -2px -2px 40px #e41553;
	/* margin: 1rem; */
	display: flex;
	
}

button:focus {
	color: #e46bbf;
	box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@media screen and (max-width: 460px){
	.cards{
         padding-left:0;
		 padding-right:0;  
	}
	div .box{
		padding-right:0;
		padding-left:0;
	}
	.games{
		margin: 3rem;
	}
	.status h1{
		font-size: 32px;
	}
}
@media screen and (max-width: 360px){
      .user h3{
		  font-size: 16px;
	  }
	  .user{
		  padding-left: 8px;
	  }
	  .user p{
		 font-size: 14px;
	  }
	  .status h1{
		  font-size: 25px;
	  }
	  .link{
		  padding:0;
		  font-size: 16px;
	  }
	  .pro{
		  height: 90px;
	  }
	  .pro h2{
		  font-size: 13px;
		  font-weight: 400;
		  width: 50%;
		  z-index: 1000;
	  }
	  .links{
		  justify-content: center;
		  margin-left:0;
	  }
	  .pro img{
		  right:0%;
		  width: 60%;
	  }
	  
}
@media screen and (max-width: 300px){
	.games{
		margin: 1rem;
		margin-top: 3rem;
	}
}
@media only screen and (max-width: 768px) {
	body{
		overflow-x: hidden;
		margin: 0;
		padding: 0;
	}
	.navigation-button{

		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		font-size: 1.2rem;
	}
	.card{
		overflow: hidden;
		width: 300px;
	}
	.card-info{
		padding-left: 10px;
		font-size: 50%;
	}
	.percentage{
		font-size: 75%;
	}
}
@media only screen and (max-width: 1200px) {
	[class*="link"] {
		width: 40%;
	}
}

@media only screen and (max-width: 400px) {
	[class*="link"] {
		width: 90%;
	}
}


.navigation-button:hover{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #d809d8;
	font-size: larger;
	transition: 0.3s;
}
